<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon (click)="toggleSideNavStatus()">menu</mat-icon>
  </button>
  <span class="ml-2">{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (openedChange)="openedChange()"
    (closed)="closed()"
  >
    <div>{{ title }}</div>
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option
        *ngFor="let page of pages"
        [value]="page.name"
        routerLink="{{ page.route }}"
      >
        <div class="d-flex">
          <mat-icon>receipt_long</mat-icon>
          <span>{{ page.name }}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
